.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

.pageButton {
    border: 1px solid white;
    border-radius: 4px;
    margin: 2px 4px;
    padding: 2px 4px;
    color: white;
}

.activePage {
    border: 1px solid white;
    background-color: white;
    color: color(display-p3 0.37 0.1073 0.6327);
}

@media (max-width: 768px) {
    .pagination {
        font-size: 8px;
    }

    .pageButton {
        margin: 0px 4px;
        padding: 2px;
    }
}