.datePicker {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 60px;
    width: 40%;
}

.dateTab {
    color: white;
    background: color(display-p3 0.1889 0.0624 0.4576);
    border: 2px solid white;
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
    top: -2px;
    flex: 1; 
    text-align: center;
}

.active {
    font-weight: bold;
    background-color: color(display-p3 0.37 0.1073 0.6327);
    border-bottom: 2px solid color(display-p3 0.37 0.1073 0.6327);
}

@media (max-width: 768px) {
    .dateTab {
        font-size: 10px;
    }

    .datePicker {
        top: 23px;
        width: 100%;
    }
}

@media (max-width: 440px) {
    .dateTab {
        font-size: 8px;
    }

    .datePicker {
        top: 26px;
        width: 100%;
    }
}
