.hero {
    position: relative;
    width: 100%;
}

.heroStaticDots {
    z-index: 1;
    background-image: url('/explorer/dots.png');
    background-size: 16px 1156px;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.heroStaticPiece {
    width: 100%;
    position: relative;
}