.tableContainer {
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: color(display-p3 0.37 0.1073 0.6327);
    border: 2px solid white;
    border-radius: 0px 10px 10px 10px;
    width: 80%;
    max-width: 1200px;
    padding: 40px 8px 0px 8px;
}

.nav {
    justify-content: space-around;
    position: absolute;
    left: -2px;
    top: -40px;
    width: 100%;
}

.navTab {
    color: white;
    background: color(display-p3 0.1889 0.0624 0.4576);
    border: 2px solid white;
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
    top: -2px;
    flex: 1; 
    text-align: center;
}

.active {
    font-weight: bold;
    background-color: color(display-p3 0.37 0.1073 0.6327);
    border-bottom: 2px solid color(display-p3 0.37 0.1073 0.6327);
}

.contentContainer {
    padding: 20px;
}

.tableContent {
    color: white;
    font-size: 16px;
    margin-top: 58px;
}

@media (max-width: 768px) {
    .tableContainer {
        top: 82%;
        padding: 0;
    }

    .nav {
        top: -36px;
    }

    .navTab {
        font-size: 10px;
    }
}

@media (max-width: 440px) {
    .tableContainer {
        top: 112%;
    }

    .nav {
        top: -34px;
    }

    .navTab {
        font-size: 8px;
    }
}